<style>
.movie{
  display: inline-block;
  width: 500px;
  height:280px;
  margin-bottom:30px;
  margin-left:30px;
}
.shadow{
  box-shadow: 0 2px 8px rgba(0,0,0,0.1)
}
.overview{
  font-weight:150;
  font-size: 12px;
  overflow: hidden;
  width:250px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: black;
}
.title{
  font-weight:900;
  font-size: 16px;
}

.rate{
  color:black;
  font-size:20px;
  font-weight:900;
  positon: relative;
  float:right;
  background-color:yellow;
  border-radius: 15px;
}

.release{
  color:black;
  font-size:10px;
  font-weight:italic;
  positon: relative;
}
.numberCircle {
    border-radius: 50%;

    width: 36px;
    height: 36px;
    padding: 6px;

    background: #ffa;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 15px Arial, sans-serif;
}


.glyphicon-star {
  font-size: 15px;
  color: #e67e22;
  &.half {
    position: relative;
    &:before {
      position: relative;
      z-index: 9;
      width: 47%;
      display: block;
      overflow: hidden;
    }
    &:after {
      content: '\e006';
      position: absolute;
      z-index: 8;
      color: #bdc3c7;
      top: 0;
      left: 0;
    }
  }
}
</style>



<div class="movie" >
    <table class = "table shadow"  >
      <tr>
        <td><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= movie.poster_path %>" alt="Sem Poster" height="278" width="185"></td>
          <td>
            <table >
              <tr>
                <td><span class="title" ><%= movie.title %></span><br>  <span class="release" ><%= movie.release_date %></span></td>

              </tr>
              <tr>
                <td><a href="" data-target="#movieModalDetails<%= movie.movie_id %>" data-toggle="modal" style="text-decoration:none"> <span class="overview" ><%= movie.overview %> </span></a></td>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="movieModalDetails<%= movie.movie_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><%= movie.title %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= movie.overview %>
                    </div>

                  </div>
                </div>
              </div>
                <!-- Modal -->
              </tr>
              <tr>

                  <td>
                    <div class="rating">
                         <%
                         decimalNumberOfStars = movie.vote_average
                         integerNumberOfStars = decimalNumberOfStars.to_i

                         i = 0
                         while i < 10 do
                               if i < integerNumberOfStars %>
                                 <i class="glyphicon glyphicon-star"></i>
                            <% else %>
                                 <i class="glyphicon glyphicon-star-empty"></i>
                            <% end
                               i+=1
                            %>
                         <% end %>


                         <span class="numberCircle"> <%= movie.vote_average %> </span>
                    </div>

                  </td<
              </tr>
              <% if movie.adult? %>
              <tr>
                <td><button type="button" class="btn btn-danger">+18</button> </td>
              </tr>
              <% end %>
            </table>
          </td>
      </tr>

    </table>
</div>
