

<%= form_tag movies_path, :method => 'get' do %>
  <%= collection_select :genre, :genre_id, Genre.all, :genre_id, :name, {:include_blank=>true,  :selected => @selected_genre_id},{:class => "form-control", :onchange => "this.form.submit()"} %>
<% end %>


<h2> Movies </h2>

<%= paginate @movies %>
<br>
  <div class="table-responsive table-hover">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Overview</th>
          <th></th>



        </tr>
      </thead>

      <tbody>
        <% @movies.each do |movie| %>
        <tr>
          <td><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= movie.poster_path %>" alt="Sem Poster" height="278" width="185"></td>
          <td><%= movie.title %></td>
          <td><%= movie.overview %></td>
          <td><% if movie.adult? %> <button type="button" class="btn btn-danger">+18</button> <% end %></td>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @movies %>
