
<div class=container>
<div style="margin-top: 100px; margin-bottom:30px;">
<%= form_tag movies_path, :method => 'get' do %>
  <%= collection_select :genre, :genre_id, Genre.all, :genre_id, :name, {:include_blank=>true,  :selected => @selected_genre_id},{:class => "form-control", :onchange => "this.form.submit()", :style => "width: 60%;"} %>
<% end %>
</div>

<h2> Movies </h2>

<% if !@movies.any? %>
  <%= render partial: "layouts/warning", locals: {:message => "No movies in this category"}%>
<% end %>


    <%= paginate @movies %>
    <%= render @movies%>
    <%= paginate @movies %>

</div>


</div>
