<!DOCTYPE html>
<html>
  <head>
    <title>Desafio de Programação -- Filmes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag "#{controller_path}_#{action_name}" %>
    <%= stylesheet_link_tag "#{controller_path}_#{action_name}" %>
  </head>
  <body>
    <div id="app">
        <%= yield %>
    </div>

    <%= yield :after_content %>
  </body>
</html>
